*{
    box-sizing: border-box;
}

.h{
    display: flex;
    justify-content: space-between;
}

.c{
    margin-left: 10vw;
}

#logo{
    color : #4A86FF;
    margin-top : 3vw;
    font-size: 2.5vw;
    margin-left: 6vw;
}

.category{
    display: flex;
    gap: 3vw;
    font-size: 1.2vw;
    margin-top : 4.5vw;
}




