@font-face {
  font-family: "Interop";
  src: url("https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Interop";
}

nav {
  margin: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25vw;
  a {
    text-decoration: none;
    font-size: 2rem;
    color: #ff804a;
    font-weight: bold;
    padding: 1rem;
  }
}

nav div {
  display: flex;
  gap: 2rem;
  a {
    font-size: 1.5rem;
    color: black;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
}

.first {
  display: flex;
  background-color: #ff804a;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  padding: 13vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: #f3f5ff;
}

h1 {
  color: #ff804a;
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.about {
  max-width: 1184px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.4rem;
  padding-bottom: 20vh;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1rem;
  padding: 2rem;
  width: 23.75rem;
  img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    border: none;
    background-color: #ebedf8;
  }

  p {
    color: #ff804a;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  img {
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  gap: 1.4rem;
}

.mini-card {
  min-width: 380px;
  h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.2rem;
    color: #626682;
    font-weight: bold;
  }
}

.hobby {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.4rem;
  padding-bottom: 20vh;
}

.hobby-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  width: 23.75rem;
  .top {
    background-color: #ff804a;
    border-radius: 1rem 1rem 0 0;
    color: white;
    padding: 1.3rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  img {
    padding: 2.5rem;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 0;
    div {
      gap: 0;
    }
  }
  .hobby {
    grid-template-columns: 1fr;
  }
  .first {
    font-size: 3rem;
  }
  .about {
    grid-template-columns: 1fr;
    .intro {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }
}
