@font-face {
  font-family: "Interop";
  src: url("https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  box-sizing: border-box;
  font-family: "Interop";
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    text-decoration: none;
    font-size: 2rem;
    color: #FF804A;
    font-weight: bold;
}
}

nav div {
  display: flex;
  gap: 2rem;
  a {
    font-size: 1.5rem;
    color: black;
    font-weight: 400;
  }
}
